
<p>Current Ride Year for live registrations and donations on the site is <%= link_to "#{@current.year}", edit_ride_year_path(@current) %></p>


<ul>
	<label for="">All Ride Years</label>
	<% @ride_years.each do |ry| %>
		<li><%= link_to "Edit #{ry.year}", edit_ride_year_path(ry) %></li>
	<% end %>
</ul>

