<h3>American Friends of the Israeli Movement for Progressive Judaism</h3>

<p>Friends of IMPJ supports the Israel Movement for Progressive Judaism (IMPJ). IMPJ makes a significant difference in Israel by giving voice to Liberal/Reform Jewish practice and pluralism. IMPJ instills pluralistic Jewish values in the future leaders of Israel and the Jewish world. The IMPJ accomplishes these goals through its educational programs in preschools and public schools and through informal education in its youth movement, pre-army preparation course and post-army Beit Midrash.

<br>IMPJ has over 40 synagogues and congregations. Many congregations offer special programs for families, including Shabbat programs, outings and holiday celebrations. Like Progressive communities throughout the world, every Israeli congregation is committed to programs of social justice and welfare, each reaching out to those in need around them. The elderly, new immigrants, distressed populations, and children and youth at risk are some of the groups cared for and supported by the congregations.
</p>

<p>
	You can find out more about the dynamic programs of IMPJ by accessing <%= link_to 'thier website', 'http://www.reform.org.il/Eng/Index.asp', class: 'btn btn-info btn-sm' %> .
	<br>Friends of IMPJ also supports the Ride4Reform. You can donate to support a rider.
	<br>Friends of IMPJ welcomes <%= link_to 'Donations to the Organization', new_donation_to_organization_path, class: 'btn btn-info btn-sm' %>. 
</p>
