<h3>Welcome to the Ride4Reform Team!</h3>

<p>Thank you for registering to as a <%= @ryr.ride_option %> participant and fundraiser!</p>
here's your receipt
here's a link to your profile page

here's who to contact if you have any q's