<h3>Welcome to the Ride4Reform Team!</h3>

<p>Thank you for registering as a Ride4Reform <%= @year  %> <%= @ryr.ride_option %> participant and fundraiser!</p>

<p>We still need to process your registration fee, but your profile is up on the site.</p>

<p>Visit your <%= link_to 'profile page', persistent_rider_profile_url(@prp) %>, and start fundraising to meet your goal!</p>
