---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=55556
      Paypal-Debug-Id:
      - 140ee86e590a3
      Server-Info:
      - identitysecuretokenserv:v1.oauth2.token&CalThreadId=4023&TopLevelTxnStartTime=14c37bdeca2&Host=slcsbidensectoken501.slc.paypal.com&pid=10410
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Invalid client credentials"}'
  recorded_at: Fri, 20 Mar 2015 15:12:16 GMT
- request:
    method: post
    uri: https://AUtQPRBP5wTDMqev5PzvwVzPA1xyZl7YO-x4kExMUqeIX-3SA0fHYK1VcAZM:EGGg8RAJ7lRdt9I6gFUj9RKpQxwjMSNrD4BgYMX5MlqtnPfYntTMmtcxW9bt@api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=291496
      Paypal-Debug-Id:
      - e4bf375a9aa2e
      Server-Info:
      - identitysecuretokenserv:v1.oauth2.token&CalThreadId=140&TopLevelTxnStartTime=14c37c1dd04&Host=slcsbidensectoken501.slc.paypal.com&pid=10410
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/services/invoicing https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.*","access_token":"A015CmGx4Vg0IZUO3Zia38xGuT-OjoY5GcQVJv-0taXZaDI","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":28800}'
  recorded_at: Fri, 20 Mar 2015 15:16:35 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"credit_card","funding_instruments":[{"credit_card":{"number":"4417119669820331","type":"visa","expire_month":11,"expire_year":2018,"cvv2":"874","first_name":"Rider","last_name":"Test","billing_address":{"line1":"7502
        Farrell Vista","city":"Tianachester","country_code":"US","postal_code":"12345","state":"Mississippi"}}}]},"transactions":[{"amount":{"currency":"USD","total":"650.00"},"description":"Registration
        fee for Rider Test, 2015","item_list":{"items":[{"quantity":"1","name":"rider
        registration fee","price":"650.00","currency":"USD","sku":"item"}]}}]}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A015CmGx4Vg0IZUO3Zia38xGuT-OjoY5GcQVJv-0taXZaDI
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 79c59e1e-1a03-4e39-9715-b714afbf6990
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=53959
      Paypal-Debug-Id:
      - 3455916c99427
      Server-Info:
      - paymentsplatformserv:v1.payments.payment&CalThreadId=2971&TopLevelTxnStartTime=14c37c1e30f&Host=slcsbpaymentsplatformserv3001.slc.paypal.com&pid=29342
      Content-Language:
      - '*'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-06P715902C8851623KUGDTUY","create_time":"2015-03-20T15:16:35Z","update_time":"2015-03-20T15:16:57Z","state":"approved","intent":"sale","payer":{"payment_method":"credit_card","funding_instruments":[{"credit_card":{"type":"visa","number":"xxxxxxxxxxxx0331","expire_month":"11","expire_year":"2018","first_name":"Rider","last_name":"Test","billing_address":{"line1":"7502
        Farrell Vista","city":"Tianachester","state":"Mississippi","postal_code":"12345","country_code":"US"}}}]},"transactions":[{"amount":{"total":"650.00","currency":"USD","details":{"subtotal":"650.00"}},"description":"Registration
        fee for Rider Test, 2015","item_list":{"items":[{"name":"rider registration
        fee","sku":"item","price":"650.00","currency":"USD","quantity":"1"}]},"related_resources":[{"sale":{"id":"1W324593TU584025T","create_time":"2015-03-20T15:16:35Z","update_time":"2015-03-20T15:16:57Z","amount":{"total":"650.00","currency":"USD"},"state":"completed","parent_payment":"PAY-06P715902C8851623KUGDTUY","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/sale/1W324593TU584025T","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/sale/1W324593TU584025T/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-06P715902C8851623KUGDTUY","rel":"parent_payment","method":"GET"}]}}]}],"links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-06P715902C8851623KUGDTUY","rel":"self","method":"GET"}]}'
  recorded_at: Fri, 20 Mar 2015 15:16:57 GMT
- request:
    method: post
    uri: https://AXeLVwBpAtdyfToCZygcCyBLA8-fuyxttmlrKIaqGLGX-NBEmKBs0fR42eda9Z_osSTQEYC6bfvBo8M7:EI9mTKBwUqhVnYfK6MFblpPF5Kc1XGCveRqauiY678EWP6BYLGNZTDhtmKy1l3rQ9axrXeXo0tQk_Ksw@api.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcjavapapi3021a.slc.paypal.com;threadId=36303
      Paypal-Debug-Id:
      - 1077aaa237f2f
      Correlation-Id:
      - 1077aaa237f2f
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[...]
- request:
    method: post
    uri: https://api.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"credit_card","funding_instruments":[{"credit_card":{"number":"4417119669820331","type":"visa","expire_month":11,"expire_year":2018,"cvv2":"874","first_name":"Rider","last_name":"Test","billing_address":{"line1":"648
        Koby Shoals","city":"Lake Vince","country_code":"US","postal_code":"11218","state":"NY"}}}]},"transactions":[{"amount":{"currency":"USD","total":"650.00"},"description":"Registration
        fee for Rider Test, 2015","item_list":{"items":[{"quantity":"1","name":"Registration","price":"650.00","currency":"USD","sku":"item"}]}}]}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A015a4M3I122vImXCRRTnCoBls3.9Ds2-L669ZG6eQhWayY
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - bed65b6e-4fb6-430b-9fb0-407eee174f3d
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Proxy-Server-Info:
      - host=slcjavapapi3034a.slc.paypal.com;threadId=34923
      Paypal-Debug-Id:
      - 29d09be339ad9
      Correlation-Id:
      - 29d09be339ad9
      Content-Language:
      - '*'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"CREDIT_CARD_REFUSED","message":"Credit card was refused","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#CREDIT_CARD_REFUSED","debug_id":"29d09be339ad9"}'
  recorded_at: Wed, 15 Jul 2015 20:37:42 GMT
- request:
    method: post
    uri: https://api.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Proxy-Server-Info:
      - host=dcg11javapapi3146.dcg11.slc.paypalinc.com;threadId=31565
      Paypal-Debug-Id:
      - ad56b3b1680c2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 18 Jul 2015 15:27:25 GMT
recorded_with: VCR 2.9.3
