---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=291493
      Paypal-Debug-Id:
      - 10cf664559bff
      Server-Info:
      - identitysecuretokenserv:v1.oauth2.token&CalThreadId=89&TopLevelTxnStartTime=14c37bdef6d&Host=slcsbidensectoken502.slc.paypal.com&pid=28506
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Invalid client credentials"}'
  recorded_at: Fri, 20 Mar 2015 15:12:16 GMT
- request:
    method: post
    uri: https://AUtQPRBP5wTDMqev5PzvwVzPA1xyZl7YO-x4kExMUqeIX-3SA0fHYK1VcAZM:EGGg8RAJ7lRdt9I6gFUj9RKpQxwjMSNrD4BgYMX5MlqtnPfYntTMmtcxW9bt@api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=53959
      Paypal-Debug-Id:
      - 05a99250a4d09
      Server-Info:
      - identitysecuretokenserv:v1.oauth2.token&CalThreadId=89&TopLevelTxnStartTime=14c37c23bf8&Host=slcsbidensectoken502.slc.paypal.com&pid=28506
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/services/invoicing https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.*","access_token":"A015c23teMST6O3i4wKeBJVT3ycgomIEkrAig40PwuNw7Q8","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":28800}'
  recorded_at: Fri, 20 Mar 2015 15:16:58 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"credit_card","funding_instruments":[{"credit_card":{"number":"4417119669820331","type":"visa","expire_month":11,"expire_year":2018,"cvv2":"874","first_name":"Rider","last_name":"Test","billing_address":{"line1":"custom
        line 1","city":"custom city","country_code":"US","postal_code":"12345","state":"NV"}}}]},"transactions":[{"amount":{"currency":"USD","total":"650.00"},"description":"Registration
        fee for Rider Test, 2015","item_list":{"items":[{"quantity":"1","name":"rider
        registration fee","price":"650.00","currency":"USD","sku":"item"}]}}]}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A015c23teMST6O3i4wKeBJVT3ycgomIEkrAig40PwuNw7Q8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - bd2939f5-cf41-41a9-8c01-55567804a71e
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=848
      Paypal-Debug-Id:
      - a063ba82a4161
      Server-Info:
      - paymentsplatformserv:v1.payments.payment&CalThreadId=32658&TopLevelTxnStartTime=14c37c23fef&Host=slcsbpaymentsplatformserv3002.slc.paypal.com&pid=3910
      Content-Language:
      - '*'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-59505081BN870222JKUGDT2Y","create_time":"2015-03-20T15:16:59Z","update_time":"2015-03-20T15:17:22Z","state":"approved","intent":"sale","payer":{"payment_method":"credit_card","funding_instruments":[{"credit_card":{"type":"visa","number":"xxxxxxxxxxxx0331","expire_month":"11","expire_year":"2018","first_name":"Rider","last_name":"Test","billing_address":{"line1":"custom
        line 1","city":"custom city","state":"NV","postal_code":"12345","country_code":"US"}}}]},"transactions":[{"amount":{"total":"650.00","currency":"USD","details":{"subtotal":"650.00"}},"description":"Registration
        fee for Rider Test, 2015","item_list":{"items":[{"name":"rider registration
        fee","sku":"item","price":"650.00","currency":"USD","quantity":"1"}]},"related_resources":[{"sale":{"id":"1BL19162L11620933","create_time":"2015-03-20T15:16:59Z","update_time":"2015-03-20T15:17:22Z","amount":{"total":"650.00","currency":"USD"},"state":"completed","parent_payment":"PAY-59505081BN870222JKUGDT2Y","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/sale/1BL19162L11620933","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/sale/1BL19162L11620933/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-59505081BN870222JKUGDT2Y","rel":"parent_payment","method":"GET"}]}}]}],"links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-59505081BN870222JKUGDT2Y","rel":"self","method":"GET"}]}'
  recorded_at: Fri, 20 Mar 2015 15:17:23 GMT
recorded_with: VCR 2.9.3
