<% if @errors %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= @errors.full_messages.to_sentence %>  
    <%= @errors.messages %>
  </div>
  i am erroneous
<% end %>

