<div class="jumbotron">
	<div class='text-bg'>
	  <h1 class='text'>American Friends of IMPJ</h1>
	  <p class='text'>Raising awareness for progressive religious options in Israel.</p>
	  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  </div>

</div>
<!-- 
<h1>HERO MOFO</h1> -->