<table class="table table-condensed">
  <tr>
    <th>Link to Donation Show / Edit</th>
    <th>Donor</th>
    <th>Recipient</th>
    <th>Amount</th>
    <th>Time of Transaction</th>    
  </tr>
  <% dons.each do |d| %>
    <!-- < %= d.user.inspect %> -->
    <%= render partial: 'admin/donations/table_row', locals: { d: d } %>
  <% end %>
</table>