<h3>Edit Donation</h3>

<%= simple_form_for @donation, url: admin_donation_path(@donation), method: :put do |f| %>
	
	<%= render 'donations/form', f: f %>
	
	<%= f.button :submit %>

<% end %>

<hr>
<%= button_to "Delete Donation?", admin_donation_path(@donation), :method => :delete, class: 'btn btn-danger', data: { confirm: "Double checking before deletion?" }%>