<h3>Donations For <%= @current_ride_year.year %></h3>

<% @ride_years.each do |ry| %>
	<%= link_to "Donations for #{ry.year}", admin_ride_year_donations_path(ry) %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Organizational Donations</h3>
  </div>
  <div class="panel-body">
    <%= render 'admin/donations/collection_stats', dons: @org_donations %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Rider Donations</h3>
  </div>
  <div class="panel-body">
    <%= render 'admin/donations/collection_stats', dons: @rider_donations %>
  </div>
</div>


