<div class="col-sm-6 col-md-4">
<div class="thumbnail">
  
  <%= link_to persistent_rider_profile_path(rider) do %>
    
    <% if rider.avatar_file_name  %>
			<%= image_tag rider.avatar.url(:thumb) %>
		<% else %>
			<i class="fa fa-bicycle"></i>
			<!-- <h3>update your photo?</h3> -->
		<% end %>
  
  <% end %>
  
  <div class="caption">
    <h4><%= rider.full_name %></h4>
    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
  </div>
</div>
</div>
