<h3>Our Riders for <%= @year.year %></h3>

<div class="row">
  	<% @riders.each do |rider| %>
			<%= render 'thumbnail', :rider => rider  %>
		<% end %>
</div>

<script>
  $(document).ready(function(){
    var highest = 0,
      images = $('.prp-image img'),
    	containers = $('.prp-image');
    
    images.each(function(i, el){ 
      var h = $(el).height(); 
      h > highest ? highest = h : null;
    });
    containers.each(function(i, el){
    	$(el).height( highest );
    });
  });


</script>