hi i ride

<%= @rider.primary_phone  %>

<% if @rider.avatar_file_name  %>
	<%= image_tag @rider.avatar.url %>
<% else %>
	<h3>update your photo?</h3>
<% end %>

<!-- <i class="fa fa-bicycle"></i>
<span class="icon-pencil"></span> -->
<!-- < %= glyph(:bicycle) %>  -->
<!-- < %= icon(:refresh) %> -->